<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">

		<form action="/create/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<label>Title</label><br>
			<input type="text" name="title">
			<hr><br>
			<label>Body</label><br>
			<textarea name="body" rows="8" cols="80"></textarea><br>
			<label for="image"> Upload Image</label>
			<hr><br>
			<input type="file" name="coverImage" >
			{% if error %}
			<p>{{error}}</p>
			{%endif%}
			<input type="submit" value="Create">
		</form>
	</div>
	</body>
</html>
